.results {
    display: flex;
    justify-content: stretch;
    height: 50px;
    border: 1px solid antiquewhite;
  }
  
  .result {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
  }
  
  .button {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 30px;
  }
  
  .buttons {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
  
  .container {
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .title {
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: lightgreen;
    color: green;
  }